<?xml version="1.0" encoding="UTF-8"?>
<configuration>
   <system.webServer>
      <httpProtocol>
         <customHeaders>
            <add name="Access-Control-Allow-Origin" value="*" />
            <add name="Access-Control-Allow-Headers" value="Content-Type" />
            <remove name="X-Powered-By" />
            <remove name="X-AspNet-Version" />
            <remove name="X-AspNetMvc-Version" />
         </customHeaders>
      </httpProtocol>
      <rewrite>
         <outboundRules rewriteBeforeCache="true">
            <rule name="Remove Server header">
               <match serverVariable="RESPONSE_Server" pattern=".+" />
               <action type="Rewrite" value="" />
            </rule>
         </outboundRules>
         <rules>
            <rule name="Redirect for IPS" stopProcessing="true">
               <match url=".*" />
               <conditions>
                  <add input="{IPS:{HTTP_HOST}}" pattern="(.+)" />
               </conditions>
               <action type="Redirect" url="https://{IPS:{HTTP_HOST}}" appendQueryString="false" redirectType="Permanent" />
            </rule>
            <rule name="Redirect - Subdomains with www to non-www" stopProcessing="true">
               <match url="^_*(.*)" />
               <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                  <add input="{HTTP_HOST}" pattern="^www\.(.*)\.([^\.]+)\.([^\.]+?)$" />
               </conditions>
               <action type="Redirect" url="https://{C:1}.{C:2}.{C:3}/{R:1}" redirectType="Permanent" />
            </rule>
            <rule name="Redirect - Top domains with non-www to www" stopProcessing="true">
               <match url="^_*(.*)" />
               <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                  <add input="{HTTP_HOST}" pattern="^([^\.]+)\.([^\.]+?)$" />
               </conditions>
               <action type="Redirect" url="https://www.{HTTP_HOST}/{R:1}" redirectType="Permanent" />
            </rule>
            <rule name="Redirect for non SSL" stopProcessing="true">
               <match url="(.*)" />
               <conditions logicalGrouping="MatchAll">
                  <add input="{SERVER_PORT_SECURE}" pattern="^0$" />
               </conditions>
               <action type="Redirect" redirectType="Temporary" url="https://{HTTP_HOST}/{R:1}" />
            </rule>
            <rule name="Redirect - Non-canonical redirect" stopProcessing="true">
               <match url="^_+(.*)" />
               <action type="Redirect" url="{R:1}" redirectType="Permanent" />
            </rule>
         </rules>
         <rewriteMaps>
            <rewriteMap name="IPS">
               <add key="127.0.0.1" value="www.yoursite.com" />
            </rewriteMap>
         </rewriteMaps>
      </rewrite>
   </system.webServer>
</configuration>